/* Responsive */


@media (min-width: 1920px) and (max-width: 2560px) {

    h4.card-title.border-bottom-yellow {
        text-align: left;
    }
    .input-box p a.btn.btn-primary.btn-lg {
        position: relative;
        padding: 8px 48px;
        left: 30px;
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) {
    span.slogan-ipad {
        font-weight: 500;
        font-size: 14px !important;
        line-height: 21px;
    }
    span.slogan {
        display: none;
    }
    span.slogan-ipad {
        display: block;
    }
    .blue-nav .navbar .nav-item {
        padding: 0 !important;
    }

    .container.blue-nav nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
        margin: 0;
        max-width: 100%;
        padding: 20px;
        background: #035ce2 !important;
    }

    .input-box {
        max-width: 100%;
    }
    .input-box a.btn.btn-primary.btn-lg {
        padding: 8px 15px;
    }
    .m-top .right.clock img {
        width: 100%;
        margin-top: 40px;
    }
    section.cat {
        margin-top: -430px;
        position: relative;
    }
    .right-image img {
        width: 100%;
        margin-left: 0px;
    }
    .bg-gray.section .container:nth-child(2) {
        width: 70%;
    }
    .four-steps .yellow-bg h5.card-title {
        margin: 40px 5px 0px 5px;
    }
    .container.seventy {
        width: 70%;
    }
    .four-steps-card-section.mb-4 .card-body {
        top: 0;
    }
    .four-steps-card-section.mb-4 .card-body p.card-text {
        line-height: 17px;
    }
    .three-box-section .card-body {
        margin-top: 0;
    }
    h2.divider.line.one-line:after {
        right: 32%;
    }
    h2.divider.line.one-line:before {
        left: 32%;
    }
    .bg-gray.section .four-steps .card .card-title {
        margin: 0 0;
    }
    .bg-gray .four-steps .card-body {
        top: 0;
        height: 300px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
}
/* Responsive */

@media only screen and (max-width: 1199px) {

    .arrowLine {
        left: -18vw;
    }
    
    /*header.headerArea {
        background: rgb(0 71 255 / 69%);
    }*/
    ul.navbar-nav.lgBlock {
        margin-right: 100px;
    }
}

/* Medium Devices, Tablet, Mobile */    
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (max-width: 991px) {

    .navbar-collapse {
        background: #0047FF;
        box-shadow: 4px 4px 6px #00000063;
        border-radius: 10px;
    }

    .navbar-nav {
        padding: 15px;
    }

    a.nav-link.loginLink {
        padding-left: 0 !important;
    }

    .navbar .nav-item .nav-link {
        padding: 8px 10px 8px 9px;
    }

    .navbar .nav-item:last-child a.nav-link {
        border: 0 !important;
    }

    .navbar-toggler {
        padding: 0;
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .navbar .nav-item a.nav-link {
        border-bottom: 1px solid #fff;
        font-size: 16px;
    }

    .arrowLine {
        display: none;
    }

    .card.straight-box {
        border-radius: 0 !important;
    }

    .both {
        margin-top: -16px;
        filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.26));
        border-radius: 10px;
        overflow: hidden;
    }

    p.card-text br,
    .bluebg h4.bluebg-txt br,
    .both .box-content br {
        display: none;
    }

    .container.seventy h4.title.after-border {
        margin-bottom: 30px;
    }

    section.four-steps-card-section.mb-4 .container.seventy.four-steps .card-body {
        padding-top: 30px;
    }


    section.three-box-section.mb-5.mt-5 .container.seventy .card-body {
        margin-top: 0;
        padding-top: 20px;
    }

}
    
@media only screen and (min-width: 426px) and (max-width: 767px) {
   
}
      
@media only screen and (min-width: 768px) {
    .smallDevice {
        display: none !important;
    }
}


@media only screen and (max-width: 600px) {
    .m-top .right.clock img {
        display: none;
    }
    .left.whitebg h4.card-title.border-bottom-yellow:after {
        left: 110px !important;
    }
    .jumbotron .input-box a.btn.btn-primary.btn-lg {
        position: relative;
        left: 25px;
    }
    .cat span.gre {
        font-size: 10px;
        line-height: 12px;
        display: block;
        margin-bottom: 15px;
    }
    .cat h2 {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
    }
    .m-top .col-md-6.col-sm-6 {
        padding: unset;
    }
    .container.m-top {
        padding: unset;
    }
    .m-top img.for-mbl {
        display: block;
    }
    .m-top p {
        font-size: 14px;
        line-height: 21px;
    }
    .m-top .mbl h1.display-3 {
        font-size: 16px !important;
        font-family: 'roboto';
    }
    .m-top .mbl {
        display: flex;
    }
    .blue-nav a.navbar-brand {
        width: 50%;
    }
    .blue-nav a.navbar-brand span.slogan {
        font-size: 10px;
        letter-spacing: 1px;
    }
    h1.display-3 {
        font-size: 24px !important;
        line-height: 27px !important;
    }
    .container.blue-nav nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
        max-width: -webkit-fill-available;
    }
    /*.m-top h1.display-3 {
        width: fit-content !important;
    }*/
    .jumbotron {
        background-image: url(https://kcc.99webdesigns.net/signsoft/assets/images/Group%20101.png);
        background-position: 65% 100%;
        height: 660px;
    }
    .jumbotron .m-top p {
        max-width: 100% !important;
    }
    .jumbotron .input-box a.btn.btn-primary.btn-lg {
        padding: 5px 12px !important;
    }
    .jumbotron .input-box {
        max-width: 100%;
    }
    .left.whitebg {
        left: auto;
    }
    section.cat {
        position: relative;
        margin-top: -350px;
    }
    .right-image img {
        width: 100%;
        margin: auto;
    }
    .bg-gray.section .container:nth-child(2) {
        width: 100%;
    }
    .four-steps .card-body {
        height: auto;
        top: 15px;
    }
    h4.card-title.border-bottom-yellow:after {
        width: 25%;
    }
    .container.seventy {
        width: 100%;
    }
    h2.divider.line.one-line:before {
        left: 60px;
    }
    h2.divider.line.one-line:after {
        right: 60px;
    }
    .cbr .container.seventy-five {
        width: 100%;
    }
    .cbr .left.whitebg {
        top: 0;
    }
    .cbr .right.bluebg {
        padding: 30px;
    }
    .three-box-section h5.card-title {
        margin-top: 0 !important;
        padding-top: 5px !important;
    }
}


@media only screen and (max-width: 767px) {

    .desktopOnly {
        display: none !important
    }

    .heroArea {background-image: url(../img/icons/banarBgMobi.png);}
   
   .banarContent h1 {
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 12px;
    }

    .banarContent p {
        font-size: 14px;
        line-height: 21px;
    }

    .banarContent {
        padding: 20vw 0 15vw;
        min-height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .yellowBtn {
        width: 92px;
        font-size: 12px;
        line-height: 14px;
        padding: 2px;
    }

    .input-box form input {
        height: 18px;
    }

    .input-box form {
        width: 81%;
        min-width: 280px;
    }

    .banarContent p {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 22px;
    }

    section.cat {
        margin: 20px 0 0 0;
    }

    .cat .stpb-section {
        margin: 0;
        padding: 0;
    }
    .cat .stpb-section h2 {
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
    }

    .stpb-section p.shss {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px !important;
        margin: 0 0 20px 0;
    }

    .content-after-top {
        width: 100%;
    }

    .content-after-top img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: auto;
    }

    h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }

    h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .gray-section-content h5:first-child {
        font-size: 20px;
        font-weight: 600;
    }

    .gray-section-content h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .smallDevice.sp {
        max-width: 300px;
        width: 86%;
    }

    .gray-section-content p br {
        display: none;
    }

    .four-steps .card-body {
        padding: 30px 15px 15px;
    }

    .bluebg h4.bluebg-txt {
        font-size: 24px;
        line-height: 36px;
    }

    .ptusw .mt-3.mb-3.gray-bar {
        max-width: 90%;
        margin: 0 auto;
        height: auto;
    }

    .ptusw .mt-3.mb-3.gray-bar p {
        font-size: 24px;
        line-height: 36px;
    }

    .row.four-steps.blue .card {
        height: auto;
        /*min-height: 300px;*/
    }

    .container.seventy .row.justify-content-md-center {
        margin: 0;
    }

    h4.title.after-border {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }

    .left.whitebg {
        width: auto;
        border-radius: 0;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        margin-bottom: -40px;
    }

    .cbr .right.bluebg {
        padding: 50px 30px 30px 30px;
        margin-right: -15px;
        margin-left: -15px;
        border-radius: 0;
    }

    .blue-bg h4 {
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }

}
   /* @media only screen and (max-width: 767px) */

@media only screen and (max-width: 599px) {
   
   .stpb-section p.shss {
        display: table;
        max-width: 251px;
        line-height: 24px;
        line-height: 24px !important;
    }

    .stpb-section p.shss br {
        display: none;
    }

    section.cat.customeContainer p.mt-4.mb-4.fz18.fwsb.text-center br {
        display: none;
    }

    section.cat.customeContainer p.mt-4.mb-4.fz18.fwsb.text-center {
        margin-bottom: 65px !important;
    }

    .section-img p.mt-5.pt-2.mb-0 br {
        display: none;
    }

    .container.eight-hundred .gray-section-content h5 {
        max-width: 300px;
        display: table;
        margin: 0 auto;
    }

    .gray-section-content {
        padding: 0 30px;
    }

    section .container .row .col-md-6 {
        padding-right: 30px;
        padding-left: 30px;
    }

    .both.leadBoth {
        margin-top: 50px;
    }

    .container.eight-hundred.mt-5.mb-5.pr-4.pl-4 {
        padding-right: 30px !important;
        padding-left: 30px !important;
        margin-bottom: 0 !important;
    }

    .container.eight-hundred.mt-5.mb-5 {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .bluebg .blue-bg {
        padding: 25px 0;
    }

    section.swec-section h4 {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }

    .swec.container.eight-hundred.mt-5.mb-0 {
        margin-top: 20px !important;
    }

    .four-steps .card {
        margin-top: 105px;
    }

    .organizContainer .headings h4.title span {
        display: block;
    }

    .headings h4.title {
        line-height: 150%;
    }

    section.three-box-section.mb-5.mt-5 {
        margin-top: 30px !important;
        margin-bottom: 0 !important;
    }

    .organizContainer .card .card-title {
        font-size: 18px !important;
        line-height: 27px;
        padding: 76px 0 12px !important;
    }

    .row.four-steps.organizedOffer .card {
        margin-top: 160px;
    }

    .SignSoftBlue .container-fluid.bg-blue.mt-5 {
        margin-top: 0 !important;
    }


}
    

@media only screen and (max-width: 575px) {
   
}
    
@media only screen and (min-width: 320px) and (max-width: 425px) {
    
}    

@media only screen and (max-width: 4480px) {
    
}
      
@media only screen and (max-width: 375px) {

}
   
